.login-container{
    .choice-sep{
        display: inline-block;
        margin-top: 80px;
        background: #ccc;
        color: #888;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        text-align: center;
        font-size: 32px;
        font-weight: 900;
        padding-top: 25px;
    }
}